<div id="post_content">
  <div class="main-content">
    <h1><%= @forum_thread.title %><small> by: <%= @forum_thread.user.name %></small>
    </h1>
    <p>
      <%= @forum_thread.body %>
    </p>
  </div>

  <div id="comments">
      <% @forum_thread.posts.each do |post| %>
      <div class="comment clearfix">
        <div class="content" >
          <p class="comment_content">
            <%= post.body %>
          </p>
          <p class="comment_author">
            <%= post.user.name %>
          </p>
        </div>
        <div class="buttons">
          <%= link_to 'Delete', [post.forum_thread, post],
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %>
        </div>
      </div>

      <% end %>
    </div>
</div>

<%= form_for([@forum_thread, @forum_thread.posts.build]) do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit Post", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="input-group">
  <div class="input-group-btn">
    <%= link_to "Back to Threads", forum_threads_path, class: "btn btn-default" %>
    <%= link_to "Edit", edit_forum_thread_path(@forum_thread), class: "btn btn-default" %>
    <%= link_to "Delete", forum_thread_path(@forum_thread), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>
