<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Notify", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Threads", forum_threads_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "New Thread", new_forum_thread_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
